<!-- 
  L*N2
  4*32467160
  -->
<div id="myAccordion" class="nl-accordion">
	<ul>
        <li>
            <input type="radio" name="nl-radio"  class="nl-radio">
			<label class="nl-label">Google Sheet Links</label>
			<div class="nl-content">
                <p>
                    &raquo; <a target="_blank" title="DMV App Booking" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQxv3e8vHZypLWN1yeEjDIL4DX5d3nfpKlU4GGcgtw0yAgNJW-SLoeT_XKIuCapcQHxavBnSPkAyJJ1/pubhtml?gid=0&single=true&widget=true&headers=false">DMW Appt Booking</a><br>
                    &raquo; <a target="_blank" title="TimeSheet- Davinder - AB"  href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRR7Stfm9Rf-ey9RtYujJRzODo2TcjSe1VTj5awrukyKVTbaUkhFSurN0zLjSVPr0OXDYIMzhNy3OAq/pubhtml?gid=2067090440&single=true">TimeSheet AB</a><br>
                    &raquo; <a target="_blank" title="Gmail Indian Spam Log" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSdZyRvDd0ESrc8IpOstqrXmI_bPjkwS_uUJDEFesIK2RsqEcP7ub9yV2_TMZNQLCmbNwJTmSPQFsMZ/pubhtml">Gmail Indian Spam Log</a><br>
                    &raquo; <a target="_blank" title="Grocery Prices" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSbjHwJxFJvTEULcOe-PD4dTyfoNo3fNBsQ8pN46EHomUXY0CkQgGFhfJFRTJjrfDYBPVUZN3RjX0ek/pubhtml">Grocery Prices</a><br>
                </p>
			</div>
        </li>
			
        <li>
            <input type="radio" name="nl-radio" class="nl-radio">
            <label class="nl-label" >HDFC&nbsp;Apra</label>
            <div class="nl-content">
                <p>
                <table>
                  <tr><td>Name:</td><td>Davinder Singh</td></tr>
                  <tr><td>A/c No.:</td><td class="bold">1826 100 000 6332</td></tr>
                  <tr><td>MMID:</td><td>9240610</td></tr>
                  <tr><td>UPI:</td><td><a href="upi://pay?pa=dav@hdfcbank&pn=Dav%20Chana&cu=INR" title="dav@hdfcbank">dav@hdfcbank</a></td></tr>
                  <tr><td>Bank:</td><td>Apra, Punjab<br>India.</td></tr>
                  <tr><td>IFSC:</td><td>HDFC 000 01826</td></tr>
                </table>
              </p>
			</div>
        </li>
	</ul>
</div>
