<!--
  L*N2
  6*294958551387
-->
<div id="myAccordion" class="nl-accordion">
		<ul>
      <li>
        <input type="radio" name="nl-radio"  class="nl-radio">
				<label class="nl-label">Chit Numbers</label>
				<div class="nl-content">
					<p>
            <table>
              <tr><td>21621608</td><td>05640650</td></tr>
              <tr><td>06739529</td><td>5054129672</td></tr>
            </table>
          </p>
				</div>
			</li>
			<li>
				<input type="radio" name="nl-radio" class="nl-radio">
				<label class="nl-label" >Chit&nbsp;Apra</label>
				<div class="nl-content">
					<p>
            <table>
              <tr><td>computer &darr;</td><td>6437</td></tr>
              <tr><td>bank</td><td>kaddu</td></tr>
              <tr><td>car</td><td>4334</td></tr>
              <tr><td>marriage</td><td>9218</td></tr>
              <tr><td>pet</td><td>loomba</td></tr>
            </table>
          </p>
				</div>
			</li>
      <li>
				<input type="radio" name="nl-radio" class="nl-radio">
				<label class="nl-label" >HDFC&nbsp;Apra</label>
				<div class="nl-content">
					<p>
            <table>
              <tr><td>Name:</td><td>Davinder Singh</td></tr>
              <tr><td>A/c No.:</td><td class="bold">1826 100 000 6332</td></tr>
              <tr><td>MMID:</td><td>9240610</td></tr>
              <tr><td>UPI:</td><td><a href="upi://pay?pa=dav@hdfcbank&pn=Dav%20Chana&cu=INR" title="dav@hdfcbank">dav@hdfcbank</a></td></tr>
              <tr><td>Bank:</td><td>Apra, Punjab<br>India.</td></tr>
              <tr><td>IFSC:</td><td>HDFC 000 01826</td></tr>
            </table>
          </p>
				</div>
			</li>
      <li>
				<input type="radio" name="nl-radio" class="nl-radio">
				<label class="nl-label" >SBI&nbsp;Banga</label>
				<div class="nl-content">
					<p>
            <table>
              <tr><td>Name:</td><td>Davinder Singh</td></tr>
              <tr><td>A/c No.:</td><td class="bold">01035 041 6379</td></tr>
              <tr><td>Bank:</td><td>Main Branch<br>Banga, Punjab, India.</td></tr>
              <tr><td>IFSC:</td><td>SBIN 000 1543</td></tr>
              <tr>
                  <td>UPI:</td>
                  <td>
                      <a href="upi://pay?pa=davchana@sbi&pn=Dav%20Chana&cu=INR" title="davchana@sbi">davchana@sbi</a><br>
                      <a href="upi://pay?pa=postcardman@sbi&pn=Postcard%20Man&cu=INR" title="postcardman@sbi">postcardman@sbi</a><br>
                      <a href="upi://pay?pa=dc1@sbi&pn=dc1&cu=INR" title="dc1@sbi">dc1@sbi</a><br>
                  </td>
              </tr>
            </table>
          </p>
				</div>
			</li>
      <li>
				<input type="radio" name="nl-radio" class="nl-radio">
				<label class="nl-label" >Emer&nbsp;Numbers</label>
				<div class="nl-content">
					<p>
            <table>
              <tr><td>HDFC</td>
                <td>
                  &raquo; <a href="tel:18602676161">1860 267 6161 Punjab Apra 24x7</a><br>
                  &raquo; <a href="https://netbanking.hdfcbank.com/netbanking/">DebitC-> Select-> Block</a><br>
                  &raquo; <a href="https://www.hdfcbank.com/htdocs/common/common-queries.htm?siteaccord=accordian5" title="FAQ Lost Stolen">Help Page</a>
                </td>
              </tr>
              <tr><td>SBI Sav</td>
                <td>
                  &raquo; <a href="tel:1800112211">1800 112 211 Tollfree</a><br>
                  &raquo; <a href="tel:18004253800">1800 425 3800 Tollfree 02</a><br>
                  &raquo; <a href="tel:+918026599990">+91 80 265 99990 All Int</a><br>
                  &raquo; <a href="https://retail.onlinesbi.com/retail/login.htm">eServ-> ATM-> Block</a><br>
                  &raquo; <a href="https://www.onlinesbi.com/personal/block_atmcard.html" title="FAQ Lost Stolen">Help Page</a>
                </td>
              </tr>
              <tr><td>SBI CC</td>
                <td>
                  &raquo; <a href="tel:18601801290">1860 180 1290 24x7 Pan India</a><br>
                  &raquo; <a href="tel:+91182339020202">+91 1823 390 20202 Local</a><br>
                  &raquo; <a href="https://www.sbicard.com/creditcards/app/user/redirectPage/reportStolen">Report Lost</a><br>
                  &raquo; <a href="https://www.sbicard.com/en/faq/lost-stolen-reissue-replace-cards.page" title="FAQ Lost Stolen">Help Page</a>
                </td>
              </tr>
              
            </table>
          </p>
				</div>
			</li>

      <li>
				<input type="radio" name="nl-radio" class="nl-radio">
				<label class="nl-label" >1DavCh</label>
				<div class="nl-content">
					<p>
            <img width=150 src="btcaddv.svg" alt=""><br>
            1DavCh28QSojiiuMkEdi4RtJ5CWA7euP1a
          </p>
				</div>
			</li>
      <li>
				<input type="radio" name="nl-radio" class="nl-radio">
				<label class="nl-label" >PWL</label>
				<div class="nl-content">
					<p>
            <table>
              <tr><td>A</td><td>ziddi</td><td>ahlib</td><td>11</td><td>bAg@</td></tr>
              <tr><td>B</td><td>kalam</td><td>cbq</td><td>11</td><td>dHfc</td></tr>
              <tr><td>C</td><td>atm#1</td><td>cbq ph</td><td>-</td><td>9</td></tr>
              <tr><td>D</td><td>puna</td><td>gmail</td><td>12</td><td>hDe</td></tr>
              <tr><td>E</td><td>dip#</td><td>go.co</td><td>11</td><td>hAc</td></tr>
              <tr><td>F</td><td>kyu</td><td>go.co2</td><td>13</td><td>aeDf</td></tr>
              <tr><td>G</td><td>atm#</td><td>sbi</td><td>11</td><td>aBffc^</td></tr>
              <tr><td>H</td><td>bhoot</td><td>sbipro</td><td>-</td><td>afc</td></tr>
              <tr><td>I</td><td>hom#</td><td>twitter</td><td>16</td><td>hfc</td></tr>
              <tr><td>J</td><td>d3r</td><td></td><td></td><td></td></tr>
              <tr><td>K</td><td>D3r</td><td></td><td></td><td></td></tr>
              <tr><td>L</td><td>dgm</td><td></td><td></td><td></td></tr>
              <tr><td>M</td><td>ctd#</td><td></td><td></td><td></td></tr>
              <tr><td>N</td><td>DCh</td><td></td><td></td><td></td></tr>
              <tr><td>O</td><td>DC@hm</td><td></td><td></td><td></td></tr>
            </table>
          </p>
				</div>
			</li>
		</ul>
</div>
